*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    width:450px;
    padding:40px;
    border-radius:20px;
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    text-align:center;
    color:white;
    box-shadow:0 8px 32px rgba(0,0,0,0.3);
}

h1{
    margin-bottom:10px;
}

p{
    margin-bottom:20px;
}

.upload-box{
    background:white;
    padding:30px;
    border-radius:15px;
    margin-bottom:20px;
}

input[type=file]{
    width:100%;
}

button{
    padding:12px 30px;
    border:none;
    border-radius:30px;
    background:#00c6ff;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
    background:#0072ff;
}

.result{
    margin-top:25px;
}

.result img{
    border-radius:15px;
    margin-bottom:15px;
}
